<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Selenium1/selenium_1">
        <classes>
            <class name="TestCases.Railway.BookTicketFromTimeTable_TC15">
                <methods>
                    <include name="TC15"/>
                </methods>
            </class>
            <class name="TestCases.Railway.BookTicketTest_TC14">
                <methods>
                    <include name="Tc03"/>
                </methods>
            </class>
            <class name="TestCases.Railway.ChangePasswordTest_TC09">
                <methods>
                    <include name="TC09"/>
                    <include name="TC13"/>
                </methods>
            </class>
            <class name="TestCases.Railway.CreateANewAccount_TC07">
                <methods>
                    <include name="TC07"/>
                </methods>
            </class>
            <class name="TestCases.Railway.DeleteTicketTest_TC16">
                <methods>
                    <include name="TC16"/>
                </methods>
            </class>
            <class name="TestCases.Railway.LoginTest_TC05">
                <methods>
                    <include name="TC01"/>
                    <include name="TC02"/>
                    <include name="TC03"/>
                    <include name="TC04"/>
                    <include name="TC05"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="ChromeTest">

        <parameter name="browser" value="Chrome" />

        <classes>

            <class name="parallelTest.CrossBrowserScript">

            </class>

        </classes>

    </test>

    <test name="FirefoxTest">

        <parameter name="browser" value="Firefox" />

        <classes>

            <class name="parallelTest.CrossBrowserScript">

            </class>

        </classes>

    </test>

    <test name="EdgeTest">

        <parameter name="browser" value="Edge" />

        <classes>

            <class name="parallelTest.CrossBrowserScript">

            </class>

        </classes>

    </test>
</suite>